.header {
  background-color: $text-color;
//   width: 1314px;
  // height: 70px;
  padding-top: 29px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;

  &__box {
   display: flex;
  }

  &__logo {
    color: $secondary-color;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.04px;
    padding-right: 143px;
    padding-bottom: 10px;

    &::after{
    content: "HELLISH ENGLISH";
    color: $main-color;
font-size: 8px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.44px;
text-transform: uppercase;
display: flex;

@media (max-width: 707px) {
  font-size:5px;
 
      }

    }

    @media screen and (max-width: 1344px) {
      margin-top: 10px;
    }
  
    @media (max-width: 707px) {
font-size: 17px;
position: absolute;
margin-bottom: 5px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 34.94px;
    padding-top: 20px;
    @media screen and (max-width: 1343px) {
      margin-bottom: 20px;
    }
   

  }

  &__item {
    font-family: Montserrat;
    color: $unaссented-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.3s;
    
   &:hover{
    color: $main-color;
   }

   @media (max-width: 707px) {
    display: none;
       }
  }


  &__button {
    color: $main-color;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.96px;
text-transform: uppercase;
border: 2px solid $main-color;
padding: 15px 28px;
margin-left: 83px;
transition: 0.3s;

@media screen and (max-width: 1344px) {
  padding: 10px 10px;
  margin-left: -30px;
}

  }

  &__button:hover {
    background: $main-color;
    color: $text-color;
  }

&__svg{
  fill: $main-color;
  width: 22px;
height: 20px;
justify-content: center;
margin-top: 10px


    }
  

}
.header__svg{
  @media (max-width: 767px) {
    width: 11px;
    height: 14px;
  
       }
}


.header__menu{
  border: none;
  background-color: transparent;

  @media screen and (min-width: 1344px) {
display: none;

  }

 

    }
    
.header__svg-menu{
 fill: $secondary-color;
 width: 25px;
height: 25px;
margin-left: -10px;

@media (max-width: 707px) {
  margin-left: 180px;
     }

     @media (max-width: 707px) {
      margin-left: 120px;
      width: 18px;
      height: 18px;
          }
}

.header__item:nth-child(1), .header__list:nth-child(2) .header__list:nth-child(3) .header__list:nth-child(4){
  @media screen and (max-width: 1344px) {
    display: none;
  }
}


.menu{
  background-color: $menu-color;
  position: fixed;
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 0px 48px 40px;
  opacity: 0.9;
  z-index: 1;
}


.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.menu__logo {
  color: $text-color;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.04px;
  
  
  @media (max-width: 707px) {
    font-size: 16px;
       }
  
  }

.logo__text{
  color: $main-color;
  font-size: 8px;

  @media (max-width: 707px) {
   font-size: 6px;
  
       }
}


// .menu__logo::after{
//   content: "HELLISH ENGLISH";
//   color: $main-color;
// font-size: 8px;
// font-style: normal;
// font-weight: 700;
// line-height: normal;
// letter-spacing: 1.44px;
// text-transform: uppercase;
// display: flex;
//   }

  .menu__item{
    color: $text-color;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 800;
line-height: 180%; 
letter-spacing: 0.78px;
margin-bottom: 39px;

@media (max-width: 707px) {
  font-size: 16px;
     }
  }

  .menu__item:hover{
    color: $main-color;
    transition: 0.3s;
  }

  .menu__svg{
    width: 39px;
    height: 39px;
    
  }


  .menu__btn{
    border: none;
    background-color: transparent;
    fill: $text-color;
  // margin-top: -160px;
  
  margin-left: 25%;
  @media (max-width: 707px) {
    margin-left: 5%;
       }
 
  }
  
  .menu__box{
    display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  @media (max-width: 707px) {
    margin-right: 230px;
       }
  
  }
  .menu__list{
//     display:inline-block;
// text-align: left;
// padding-bottom: 250px;
// padding-left: 320px;
// margin-bottom: 200px;
margin-left: 320px;
margin-bottom: 200px;


@media (max-width: 707px) {
  margin-bottom: 0px;
  margin-top: 150px;
  margin-left: 150px;
  position: absolute;
     }

  }

  .menu__button{
    color: $main-color;
    // text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    border: 2px solid $main-color;
    padding: 16px 28px;
    // margin-left: 83px;
    transition: 0.3s;
    // flex-wrap: wrap;
    

    @media (min-width: 708px) {
      display: none;
         }

         @media (max-width: 707px) {
         font-size: 8px;
         padding: 6px 12px;
             }

    }
  
    .btn__box{

      @media (max-width: 707px) {
        margin-top: 25px;
           }
    }

    .menu__span{
      color: $text-color;
    }