.help {
    padding: 25px 0 365px 0;
    background-color: $secondary-color;

    @media screen and (min-width:708px) {
        padding: 55px 0 192px 0;
    }

    @media screen and (min-width:1344px) {
        padding: 100px 0 280px 0;
        background-image: url(../../img/helpbg.jpg);
    }



    &__hp {
        position: relative;
    }

    &__title {
        width: 280px;
        color: $text-color;
        @include titles($font: 24px, $letter: 0.72px);
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width:708px) {
            width: 450px;
            @include titles($font: 24px, $letter: 1.38px);
        }

        @media screen and (min-width:1344px) {
            width: 1000px;
            color: $text-color;
            @include titles($font: 46px);
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__span {
        color: $main-color;
        @include titles($font: 24px, $letter: 0.72px);

        @media screen and (min-width:1344px) {
            @include titles($font: 46px);
        }
    }

    &__list {
        position: absolute;
        left: 0;
        top: 180px;
        background-color: $text-color;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        row-gap: 15px;

        @media screen and (min-width:708px) {
            padding: 28px 0;
            row-gap: 20px;
            column-gap: 68px;
        }

        @media screen and (min-width:1344px) {
            top: 245px;
            padding: 67px 0;
            row-gap: 30px;
            column-gap: 40px;
        }
    }

    &__item {

        width: 226px;

        @media screen and (min-width:708px) {
            width: 220px;
        }

        @media screen and (min-width:1344px) {
            width: 336px;
        }
    }

    &__number {
        width: 226px;
        margin-bottom: 10px;
        color: $main-color;
        @include middle-text();

        @media screen and (min-width:708px) {
            width: 60px;
        }

        @media screen and (min-width:1344px) {
            width: 336px;
        }
    }


    &__text {
        color: $secondary-color;
        @include middle-text($font-size:14px);
        height: 40px;
        @media screen and (min-width:1344px) {
            @include middle-text($font-size: 20px);
            height: 56px;
        }
    }

    .help__item:nth-child(1) .help__text,
    .help__item:nth-child(4) .help__text,
    .help__item:nth-child(6) .help__text {

        @media screen and (min-width:1344px) {
            margin-bottom: 32px;
        }
    }
}