.container {
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width:300px) {
        padding: 0 10px;
        width: 300px;
    }

    @media screen and (min-width:708px) {
        padding: 0 10px;
        width: 708px;
    }

    @media screen and (min-width:1344px) {
        width: 1344px;
    }
}