@mixin titles($font: 46px, $line: 130%, $weight: 800, $letter: 800) {
    font-size: $font;
    font-weight: $weight;
    line-height: $line;
    letter-spacing: $letter;
}

@mixin text() {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.44px;
}

@mixin subtitle($height: 1.4) {
    font-size: 30px;
    font-weight: 700;
    line-height: $height;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}