@mixin titles($font: 46px, $line: 1.2, $weight: 800, $letter: 1.38px) {
    font-size: $font;
    font-weight: $weight;
    line-height: $line;
    letter-spacing: $letter;
}

@mixin text($text-size: 18px, $text-weight: 500, $text-height: 1.5, $text-spacing: 1.44px) {
    font-size: $text-size;
    font-weight: $text-weight;
    line-height: $text-height ;
    letter-spacing: $text-spacing;
}

@mixin subtitle($height: 1.4, $sub-font: 30px) {
    font-size: $sub-font;
    font-weight: 700;
    line-height: $height;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

@mixin middle-text($middle-height: 1.4, $font-size: 20px, $middle-space: 1.6px) {
    font-size: $font-size;
    font-weight: 700;
    line-height: $middle-height;
    letter-spacing: $middle-space;
}