<nav>
  <p class="cadrs__title">How do we do it</p>
  <div>
    <ul class="cards__list">
      <li class="cards__item">      

        <svg class="cards__svg"><use href=""></use></svg>

        <h1 class="cadrs__name">Adapted program preparation for UPE</h1>

        <p class="cards__info">
          You will learn grammar and vocabulary at the same time. And you will
          learn how to write essays.
        </p>

      </li>


      <li class="cards__item">

        <svg class="cards__svg"><use href=""></use></svg>

        <h1 class="cadrs__name">Classroom and online learning</h1>

        <p class="cards__info">The teacher will help not only in the classroom, but also during home preparation.
            Parents can chat if they wish.</p>

      </li>


      <li class="cards__item">

        <svg class="cards__svg"><use href=""></use></svg>

        <h1 class="cadrs__name">The habit of reading in English</h1>

        <p class="cards__info">Articles from sources that are used in the development of this UPE will be received by phone twice a week.
        </p>

      </li>


      <li class="cards__item">

        <svg class="cards__svg"><use href=""></use></svg>

        <h1 class="cadrs__name">Psychological support</h1>

        <p class="cards__info">We will teach you testing techniques, the ability to plan your confidence training
            in itself.</p>

      </li>


      <li class="cards__item">

        <svg class="cards__svg"><use href=""></use></svg>

        <h1 class="cadrs__name">Training on copyright manuals</h1>

        <p class="cards__info">You don't have to waste your time
            on a search for material and to buy anything extra. We have compiled
            2 manuals for you.</p>

      </li>


      <li class="cards__item">

        <svg class="cards__svg"><use href=""></use></svg>

        <h1 class="cadrs__name">Ability to comprehend spoken English</h1>

        <p class="cards__info">“F.R.I.E.N.D.S” won't help you. You will listen regularly
            and analyze audio recordings
            in accordance with the studied vocabulary.</p>

      </li>
    </ul>
  </div>
</nav>
