<section class="feedback">
  <div class="container feedback__feed">
    <h2 class="feedback__title">Feedback from graduates</h2>
    <div class="feedback__wraper">
      <div class="feedback__main">
        <picture>
          <source
            srcset="
              ./img/desktop/glasses-women-desktop@1x.webp 1x,
              ./img/desktop/glasses-women-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./img/tablet/sun-women-tablet@1x.webp 1x,
              ./img/tablet/sun-women-tablet@2x.webp 2x
            "
            media="(min-width:708px)"
          />
          <source
            srcset="
              ./img/mobile/sun-women-mobile@1x.webp 1x,
              ./img/mobile/sun-women-mobile@2x.webp 2x
            "
            media="(max-width:707px)"
          />
          <img src="./img/galasses-women.jpg" alt="" class="feedback__img" />
        </picture>
        <svg class="feedback__facebook">
          <use href="./img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </div>
      <div class="feedback__text">
        <h3 class="feedback__name">Tonya Kucherovskaya</h3>
        <p class="feedback__description">
          Graduated from 2015, National University of Bioresources and natural
          history of Ukraine
        </p>
        <p class="feedback__coment">
          In a short time with Elena, I mastered grammar and replenished my
          completely empty vocabulary. From the first lesson I realized that I
          was on my plate. Elena and I became friends because she was really
          worried about my success. She became an authority for me, but I did
          not tremble in class, fearing to make the slightest mistake. Now I can
          brag that I'm student ...
        </p>
        <a href="#" class="feedback__read">Read more</a>
      </div>
    </div>
    <svg class="feedback__arrowr">
      <use href="./img/symbol-defs.svg#icon-arrow"></use>
    </svg>

    <ul class="feedback__images">
      <li class="feedback__users">
        <picture>
          <source
            srcset="
              ./img/desktop/room-women-desktop@1x.webp 1x,
              ./img/desktop/room-women-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./img/tablet/room-women-tablet@1x.webp 1x,
              ./img/tablet/room-women-tablet@2x.webp 2x
            "
            media="(min-width:708px)"
          />
          <source
            srcset="
              ./img/mobile/room-women-mobile@1x.webp 1x,
              ./img/mobile/room-women-mobile@2x.webp 2x
            "
            media="(max-width:707px)"
          />
          <img src="./img/room-women.jpg" alt="" class="feedback__faces" />
        </picture>
      </li>
      <li class="feedback__users">
        <picture>
          <source
            srcset="
              ./img/desktop/outdoor-women-desktop@1x.webp 1x,
              ./img/desktop/outdoor-women-desktop@2x.webp 2x
            "
            media="min-width:1344px"
          />
          <source
            srcset="
              ./img/tablet/outdoor-women-tablet@1x.webp 1x,
              ./img/tablet/outdoor-women-tablet@2x.webp 2x
            "
            media="(min-width:708px)"
          />
          <source
            srcset="
              ./img/mobile/outdoor-women-mobile@1x.webp 1x,
              ./img/mobile/outdoor-women-mobile@2x.webp 2x
            "
            media="(max-width:707px)"
          />
          <img src="./img/outdor-women.jpg" alt="" class="feedback__faces" />
        </picture>
      </li>
      <li class="feedback__users">
        <picture>
          <source
            srcset="
              ./img/desktop/side-women-desktop@1x.webp 1x,
              ./img/desktop/side-women-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./img/tablet/side-women-tablet@1x.webp 1x,
              ./img/tablet/side-women-tablet@2x.webp 2x
            "
            media="(min-width:708px)"
          />
          <source
            srcset="
              ./img/mobile/side-women-mobile@1x.webp 1x,
              ./img/mobile/side-women-mobile@2x.webp 2x
            "
            media="(max-width707px)"
          />
          <img src="./img/side-women.jpg" alt="" class="feedback__faces" />
        </picture>
      </li>
      <li class="feedback__users">
        <picture>
          <source
            srcset="
              ./img/desktop/blond-women-desktop@1x.webp 1x,
              ./img/desktop/blond-women-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
          />
          <img src="./img/blond-women.jpg" alt="" class="feedback__faces" />
        </picture>
      </li>
      <li class="feedback__users">
        <picture>
          <source
            srcset="
              ./img/desktop/dark-women-desktop@1x.webp 1x,
              ./img/desktop/dark-women-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./img/tablet/dark-women-tablet@1x.webp 1x,
              ./img/tablet/dark-women-tablet@2x.webp 2x
            "
            media="(min-width:708px)"
          />
          <img src="./img/dark-women.jpg" alt="" class="feedback__faces" />
        </picture>
      </li>
      <li class="feedback__users">
        <picture>
          <source
            srcset="
              ./img/desktop/sun-women-desktop@1x.webp 1x,
              ./img/desktop/sun-women-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./img/tablet/sun-women-tablet@1x.webp 1x,
              ./img/tablet/sun-women-tablet@2x.webp 2x
            "
            media="(min-width:708px)"
          />
          <img src="./img/sun-women.jpg" alt="" class="feedback__faces" />
        </picture>
      </li>
      <li class="feedback__users">
        <picture>
          <source
            srcset="
              ./img/desktop/glasses-women-desktop@1x.webp 1x,
              ./img/desktop/glasses-women-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./img/tablet/glasses-women-tablet@1x.webp 1x,
              ./img/tablet/glasses-women-tablet@2x.webp 2x
            "
            media="(min-width:708px)"
          />
          <img src="./img/galasses-women.jpg" alt="" class="feedback__faces" />
        </picture>
      </li>
    </ul>
    <svg class="feedback__arrowl">
      <use href="./img/symbol-defs.svg#icon-arrow"></use>
    </svg>
  </div>
</section>
