<footer class="footer">
  <a href="#"
    >Hell
    <svg class="footer__svg">
      <use href="../img/symbol-defs.svg#icon-campfire"></use>
    </svg>
    EN</a
  >
  <p>hellish <span>english</span></p>

  <svg class="footer__svg">
    <use href="../img/symbol-defs.svg#icon-phone"></use>
  </svg>
  <a href="tel:+38 (099) 123 45 67" class="menu__link-contact"
    >+38 (099) 123 45 67</a
  >
  <svg class="footer__svg">
    <use href="../img/symbol-defs.svg#icon-instagram"></use>
  </svg>

  <p>© All rights reserved, 2022</p>
</footer>
