<footer class="footer">
  <div class="container footer__box">
    <div class="footer__upbox">
      <div class="footer__logos">
        <a href="#" class="footer__logo"
          >Hell<svg class="footer__svg__logo">
            <use href="../img/symbol-defs.svg#icon-campfire"></use>
          </svg>
          EN</a
        >
        <p class="footer__down__logo">
          hellish <span class="footer__span">english</span>
        </p>
      </div>
      <div class="footer__contacts">
        <svg class="footer__svg__phone">
          <use href="../img/symbol-defs.svg#icon-phone"></use>
        </svg>
        <a href="tel:+38 (099) 123 45 67" class="footer__link__contact"
          >+38 (099) 123 45 67</a
        >

        <svg class="footer__svg">
          <use href="../img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>
<section class="footer__rights__bg">
  <div class="container footer__rights__box">
    <p class="footer__rights">© All rights reserved, 2022</p>
  </div>
</section>
