<header class="header">
  <div class="container header__box">
    <!-- <a href="#" class="header__logo"
      >Hell<span
        ><svg class="header__svg">
          <use href="../img/symbol-defs.svg#fire"></use></svg></span
      >En</a
    > -->
    <a href="#" class="header__logo">HellEn</a>
    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="#" class="header__item">Studying program</a></li>
        <li><a href="#" class="header__item">Studying program</a></li>
        <li><a href="#" class="header__item">training options</a></li>
        <li><a href="#" class="header__item">contacts</a></li>
        <a href="tel:+123456789" class="header__button">CONSULTATION BY PHONE</a>
      </ul>
     
    </nav>
  </div>
</header>
