<section class="help">
  <div class="container help__hp">
    <h2 class="help__title">
      The main problems of students in English UPE, which we
      <span class="help__span">help</span> to solve
    </h2>
    <!-- зпозіціонований список -->
    <ul class="help__list">
      <li class="help__item">
        <p class="help__number">— 01</p>
        <p class="help__text">Grammar</p>
      </li>
      <li class="help__item">
        <p class="help__number">— 02</p>
        <p class="help__text">Inability to understand spoken English</p>
      </li>
      <li class="help__item">
        <p class="help__number">— 03</p>
        <p class="help__text">Stingy vocabulary for writing an essay</p>
      </li>
      <li class="help__item">
        <p class="help__number">— 04</p>
        <p class="help__text">Preparing alone</p>
      </li>
      <li class="help__item">
        <p class="help__number">— 05</p>
        <p class="help__text">Lack of a single knowledge resource</p>
      </li>
      <li class="help__item">
        <p class="help__number">— 06</p>
        <p class="help__text">Lack of self-organization</p>
      </li>
    </ul>
  </div>
</section>
