<section class="hero">
  <div class="container hero__box">
    <div class="hero__div">
      <div class="hero__div2">
        <h1 class="hero__h1">Complex preparation for English UPE</h1>
        <p class="hero__text">It won’t be easy.</p>
        <p class="hero__text__span">But you are guaranteed to get +25 points</p>
        <button href="#" class="hero__link">i want a free lesson</button>
      </div>
      <img src="./img/hero-bg.jpg" alt="hero__bg" class="hero__bg" />
    </div>
    <ul class="hero__list">
      <li class="hero__item">
        <svg class="hero__svg">
          <use href="./img/symbol-defs.svg#icon-female-student-1"></use>
        </svg>
        <p class="hero__bottom__text">Adapted author's UPE program</p>
      </li>
      <li class="hero__item">
        <svg class="hero__svg">
          <use href="./img/symbol-defs.svg#icon-mobile-learning-1"></use>
        </svg>
        <p class="hero__bottom__text">Modern teaching methods</p>
      </li>
      <li class="hero__item">
        <svg class="hero__svg">
          <use href="./img/symbol-defs.svg#icon-insurance"></use>
        </svg>
        <p class="hero__bottom__text">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
