<section class="hero-section">
  <div class="container">
    <h1 class="hero__h1">Complex preparation for English UPE</h1>
    <p class="hero__text">
      It won’t be easy.
      <span class="hero__text__span"
        >But you are guaranteed to get +25 points</span
      >
    </p>
    <a href="#" class="hero__link">i want a free lesson</a>

    <img src="./img/hero-bg.jpg" alt="hero__bg" />

    <ul class="hero__list">
      <li class="hero__item">
        <p class="hero__bottom__text">Adapted author's UPE program</p>
      </li>
      <li class="hero__item">
        <p class="hero__bottom__text">Modern teaching methods</p>
      </li>
      <li class="hero__item">
        <p class="hero__bottom__text">Financial guarantee the result</p>
      </li>
    </ul>
    <svg class="icon">
      <use href="../img/symbol-defs.svg#icon-facebook"></use>
    </svg>
    <svg class="icon">
      <use href="./img/symbol-defs.svg#icon-arrow"></use>
    </svg>
  </div>
</section>
