<section class="program">
  <div class="container">
    <h2 class="program__title">Our program</h2>

    <ul class="program__list">
      <li class="program__item">
        <h3 class="program__name">1 semester</h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">2 семестр</h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">3 семестр</h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">4 семестр</h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">5 семестр</h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
          <li class="program__box">
            <p class="program__label"></p>
            <p class="program__desc"></p>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="program__wrap">
      <li class="program__inp">
        <p class="program__number"></p>
        <p class="program__lesons"></p>
      </li>
      <li class="program__inp">
        <p class="program__number"></p>
        <p class="program__lesons"></p>
      </li>
      <li class="program__inp">
        <p class="program__number"></p>
        <p class="program__lesons"></p>
      </li>
      <li class="program__inp">
        <p class="program__number"></p>
        <p class="program__lesons"></p>
      </li>
      <li class="program__inp">
        <p class="program__number"></p>
        <p class="program__lesons"></p>
      </li>
      <li class="program__inp">
        <p class="program__number"></p>
        <p class="program__lesons"></p>
      </li>
    </ul>

    <img src="../img/program-bg.jpg" alt="" class="program__img">

  </div>
</section>
