<section class="program" id="1143">
  <div class="container program__poz">
    <h2 class="program__title">Our program</h2>

    <ul class="program__list">
      <li class="program__item">
        <h3 class="program__name">
          <span class="program__span"> 1 </span>semester
        </h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label">— Grammar</p>
            <p class="program__desc">Nouns & Articles Adjectives & Adverb</p>
          </li>
          <li class="program__box">
            <p class="program__label">— Vocabulary</p>
            <p class="program__desc">Family & Relations People & Society</p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">
          <span class="program__span">2 </span>семестр
        </h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label">— Grammar</p>
            <p class="program__desc">Pronouns Active Voice Passive Voice</p>
          </li>
          <li class="program__box">
            <p class="program__label">— Vocabulary</p>
            <p class="program__desc">Home School Work</p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">
          <span class="program__span">3 </span>семестр
        </h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label">— Grammar</p>
            <p class="program__desc">
              Modal verbs Infinitive Gerund Participle: 1, 2
            </p>
          </li>
          <li class="program__box">
            <p class="program__label">— Vocabulary</p>
            <p class="program__desc">
              Travel & Tourism Culture & Free Time Sport
            </p>
          </li>
          <li class="program__box">
            <p class="program__label">— Writing</p>
            <p class="program__desc">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">
          <span class="program__span">4</span> семестр
        </h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label">— Grammar</p>
            <p class="program__desc">
              Clauses: Conditional and Wishes Direct /
              Reported speech Preposition Conjunction Numeral
            </p>
          </li>
          <li class="program__box">
            <p class="program__label">— Vocabulary</p>
            <p class="program__desc">
              Healthy Living Nature & Environment Money
            </p>
          </li>
          <li class="program__box">
            <p class="program__label">— Writing</p>
            <p class="program__desc">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__name">
          <span class="program__span">5 </span>семестр
        </h3>
        <ul class="program__items">
          <li class="program__box">
            <p class="program__label">—</p>
            <p class="program__desc">Revision Tests</p>
          </li>
          <li class="program__image">
            <picture>
              <source
                srcset="
                  ./img/desktop/program-bg-desktop@1x.webp 1x,
                  ./img/desktop/program-bg-desktop@2x.webp 2x
                "
                media="(min-width: 1344px)"
              >
              <source
                srcset="
                  ./img/tablet/program-bg-tablet@1x.webp 1x,
                  ./img/tablet/program-bg-tablet@2x.webp 2x
                "
                media="(min-width:708px)"
              >
              <source
                srcset="
                  ./img/mobile/program-bg-mobile@1x.webp 1x,
                  ./img/mobile/program-bg-mobile@2x.webp 2x
                "
                media="(min-width: 300px)"
              >

              <img src="../img/program-bg.jpg" alt="lesons img" class="program__img" >
            </picture>
          </li>
        </ul>
      </li>
    </ul>
    <h2 class="program__choose">Why do people choose us</h2>
    <ul class="program__wrap">
      <li class="program__inp">
        <p class="program__number">— 01</p>
        <p class="program__lesons">Training in small groups</p>
      </li>
      <li class="program__inp">
        <p class="program__number">— 02</p>
        <p class="program__lesons">Rendered notes</p>
      </li>
      <li class="program__inp">
        <p class="program__number">— 03</p>
        <p class="program__lesons">
          Each lesson has a goal and a specific result
        </p>
      </li>
      <li class="program__inp">
        <p class="program__number">— 04</p>
        <p class="program__lesons">The real results of the teacher</p>
      </li>
      <li class="program__inp">
        <p class="program__number">— 05</p>
        <p class="program__lesons">
          The course program meets the requirements of the MES of Ukraine
        </p>
      </li>
      <li class="program__inp">
        <p class="program__number">— 06</p>
        <p class="program__lesons">Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
