<section class="register">
  <div class="container register_box">
    <h2 class="register__title">
      Registration for a <span class="register_span">free</span> phone
      <span class="register_span">consultation</span> on the nuances of English
      UPE
    </h2>
    <p class="register__text">
      Leave a request for participation in a
      <span class="register_span">free lesson</span>. A consultant will contact
      you and answer your questions
    </p>
    <ul class="register__list">
      <li class="register__item">
        <input class="register__input" type="text" name="name" placeholder="Name*" required >
      </li>
      <li class="register__item">
        <input class="register__input" type="tel" name="phone" placeholder="Phone*" required>
      </li>
    </ul>

    <a href="#" class="register__button">i want a free lesson</a>
    
  </div>
</section>
